html { font-size:100%; }

body{
    background-color: black;
}

/* jsnack */
.jSnack1,.jSnack2,.jSnack3{
    margin-bottom: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 350px; */
}


#my_Table,#my_Table_Calcio,#my_Table_Gatti{
    height: 300px;
}

.jSnack1{
    background-image: url("./img/bg-img-bici.jpg");
}

.jSnack2{
    background-image: url("./img/stadio.webp");

}

.jSnack3{
    background-image: url("./img/gatto_.jfif");

}




/* ---------------Scroll Vertical table (Classe Scroll)------------------------- */
.scroll{
	overflow-y: auto;
	overflow-x: hidden;
}
.scroll::-webkit-scrollbar{
	-webkit-overflow-scrolling: auto;
	width: 6px;
}
.scroll::-webkit-scrollbar-thumb{
	border-radius: 4px;
    background-color: rgba(0,0,0,1);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* ------------------------------------------------------------- */




.myBtnController:hover{
    background-color: rgba(0,0,0,0.84);
    color: #000000;
    /* text-shadow: 0 0 1px #000000; */
    transform: scale(1.04);
    text-transform: uppercase;
    transform-style: preserve-3d;
    transition: 0.5s;
}

.myBtnSalva:hover{
    background-color: rgba(0,0,0,0.84);
    color: #000000;
    border-color: #388e3c;
    transform: scale(1.02);
    transform-style: preserve-3d;
    transition: 0.5s;
}


.fa-ribbon {
    height: 21px;
    width: 21px;
    font-weight: bold
}




/* bg-color */
.bg-black,.myBtnController,#tabellaBici,#tabellaSquadre,tabellaGatti{
    background-color: rgba(0,0,0,0.73);
    border-color: #388e3c;
}

.bg-white{
    background-color: rgba(255,255,255,255.14);
}

.bg-red{
    background-color: red;
}

.bg-my-green{
    background-color: #388e3c;
}

.text-green{
    color: #388e3c;
}

/* text */

.text-red{
    color: red;
}

/* border color */

.text-color_Blk{
    color: #000000;
}
